body {
    background-image: url(../images/cuadros.png);
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.container {
    background-color: white;
    opacity: 0.9;
}

#result-box {
    display: none;
  }

  .form-check{
      display: inline;
  }

  #question {
      padding: 10px;
      font-weight: bold;
      color: midnightblue;
  }

  #divBtn {
      margin-left: 50%;
      margin-top: 7%;
  }

  h1 {
    font-family: 'Lobster Two', cursive;
    font-size: 7rem;
    background: -webkit-linear-gradient(#09009f, #00ff95);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
  }